beautifulsoup4==4.14.3
boto3==1.42.82
botocore==1.42.82
certifi==2025.7.9
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.7
cryptography==44.0.0
dj-database-url==3.1.2
Django==5.2.7
django-environ==0.14.0
django-storages==1.14.6
gunicorn==26.0.0
h11==0.14.0
httpcore==1.0.7
httpx==0.27.2
idna==3.10
jmespath==1.0.1
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
mysqlclient==2.2.5
packaging==24.2
pillow==11.1.0
psutil==6.1.1
psycopg2-binary==2.9.12
pycparser==2.20
pyOpenSSL==25.0.0
python-dateutil==2.8.2
PyYAML==6.0.2
referencing==0.36.2
uvicorn==0.52.1
